In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import dataconfig

loading TIME_SERIES_DAILY_ADJUSTED data from cache for TSLA...

In [2]:
dc = dataconfig.DataConfig()
dc.getdata(['TSLA'])

loading LISTING_STATUS data from api and storing to cache for 2022-07-25...
loading CONSUMER_SENTIMENT data from cache ...
Retrieving data for TSLA
loading TIME_SERIES_DAILY_ADJUSTED data from cache for TSLA...
loading TIME_SERIES_WEEKLY_ADJUSTED data from cache for TSLA...
loading TIME_SERIES_MONTHLY_ADJUSTED data from cache for TSLA...

                                          TSLA
TSLA  <dataconfig.Stock object at 0x145815190>

In [6]:
dc.data['TSLA'].time_series_daily

,open,high,low,close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2022-07-22,828.66,842.36,812.14,816.73,816.73,34490949,0.0000,1.0
2022-07-21,765.32,819.8,764.6,815.12,815.12,47344059,0.0000,1.0
2022-07-20,740.35,751.99,730.449,742.5,742.5,29621363,0.0000,1.0
2022-07-19,735.0,741.42,710.93,736.59,736.59,26963370,0.0000,1.0
2022-07-18,734.81,751.55,718.81,721.64,721.64,27512476,0.0000,1.0
...,...,...,...,...,...,...,...,...
2022-03-07,856.3,866.14,804.57,804.58,804.58,24164724,0.0000,1.0
2022-03-04,849.1,855.65,825.1609,838.29,838.29,22393287,0.0000,1.0
2022-03-03,878.77,886.439,832.6001,839.29,839.29,20541169,0.0000,1.0
2022-03-02,872.13,886.48,844.2721,879.89,879.89,24881146,0.0000,1.0
2022-03-01,869.68,889.88,853.78,864.37,864.37,24922287,0.0000,1.0